<div class="about-me">
  <div class="tree d-none d-xl-block" >
        <div class="about">
            <a href="" title="About me">About</a>
        </div>
        <div class="projects">
            <a href="">Projects</a>
        </div>
        <div class="services">
            <a href="" title="Django">Django</a>
        </div>
        <div>
            <a href="javascript:;" title="Rabbitmq">Rabbitmq</a>
        </div>
        <div>
            <a href="javascript:;"  title="Contact">Contact</a>
        </div>
        <div>
            <a href=""  title="Nginx">Nginx</a>
        </div>
        <div>
            <a target="_blank" href="http://blog.csdn.net/u010066807/article/details/50679276" title="Innobackupex">Innobackupex</a>
        </div>
        <div>
            <a href="http://blog.csdn.net/u010066807/article/details/50903238" title="python 基本Kmeans算法实现"
               target="_blanks">Kmeans</a>
        </div>
        <div>
            <a href="http://blog.csdn.net/u010066807/article/details/50907467" title="Varnish"
               target="_blanks">Varnish</a>
        </div>
        <div class="information">
            <a href="http://blog.csdn.net/u010066807/article/details/50706042" target="_blanks" title="Keepalived">Keepalived</a>
        </div>
        <div>
            <a href="" title="Blog">Blog</a>
        </div>
        <div>
            <a href="" title="Works">Works</a>
        </div>
        <div>
            <a href="" title="Skills">Skills</a>
        </div>
        <div>
            <a href="http://blog.csdn.net/u010066807/article/details/50921408" target="_blank" title="Docker">Docker</a>
        </div>
        <div>
            <a href="http://blog.csdn.net/u010066807/article/details/50659714" target="_blanks" title="Lvs">Lvs</a>
        </div>
    </div>
    <div class=" info">
      <div class="row">
        <div class="col-sm-4 text-sm-right"><span class="t-bg bg">设备名称</span></div>
        <div class="col-sm-8"><span class="t-v">自命不凡的猪</span></div>
        </div>
      <div class="row">
        <div class="col-sm-4 text-sm-right"><span class="t-bg bg">设备规格</span></div>
        <div class="col-sm-8"><span class="t-v">程序猿</span></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-sm-right"><span class="t-bg bg">设备类型</span></div>
        <div class="col-sm-8 "><span class="t-v">男同学</span></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-sm-right"><span class="t-bg bg">运行环境</span></div>
        <div class="col-sm-8 "><span class="t-v">
                     有团队，有创新，有挑战。</span></div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-sm-right"><span class="t-bg bg">设备优点</span></div>
        <div class="col-sm-8 "><span class="t-v">除了缺点都是优点。</span></div>
      </div>
    </div>
</div>
