.skills{
  .skills-icon{
    i{
      display: block;
      font-size: 150px;
    }
    span{
      font-size: 30px;
    }
    .operator{
      div{
        font-size: 70px;
        margin-bottom: 30px;
      }
    }
  }
}
