
@mixin themes($bgColor, $bgUrl) {
    .bg{
      background-color: $bgColor;
    }
    .bgc{
      @if($bgColor){
        background-color: $bgColor;
      }
      @if($bgUrl){
        background-image: url($bgUrl);
        background-repeat:repeat;
        background-position: center;
      }
    }
    #bg{
      @if($bgColor){
        background-color: $bgColor;
      }
      @if($bgUrl){
        background-image: url($bgUrl);
        background-repeat:repeat;
        background-position: center;
      }
    }
  }



// TODO default
@import "global";
body{
  @include themes($bg-color, null);
}
body[theme=r1] {
  @include themes(#645b5c, "images/theme_bg_1.jpg");
  .menu-btn{
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.6), inset 2px 2px 0 rgba(255, 255, 255, 0.1);
  }
}

body[theme=t1] {
  @include themes(#ca0d86, "images/theme_bg_2.png");
}

body[theme=t2] {
  @include themes(#764394, "images/theme_bg_2.png");
}

body[theme=t3] {
  @include themes(#e1483f, "images/theme_bg_2.png");
}

body[theme=t4] {
  @include themes(#7de87d, "images/theme_bg_2.png");
}
