@mixin bg($bgColor) {
  @if ($bgColor) {
    background-color: $bgColor;
  }
}

@mixin bgc($bgColor, $bgUrl) {
  @include bg($bgColor);
  @if ($bgUrl) {
    background-image: url($bgUrl);
    background-repeat: repeat;
    background-position: center;
  }
}

@mixin themes($bgColor, $bgUrl) {
  .bg {
    @include bg($bgColor);
  }
  .bgc {
    @include bgc($bgColor, $bgUrl);
  }
  #bg {
    @include bgc($bgColor, $bgUrl);
  }
  .categories-filters {
    .filter {
      &:hover, &.active {
        color: #fff;
        @include bgc($bgColor, $bgUrl);
      }
    }
  }
  .articles .item {
    &:hover, &.active {
      .inner {
        @include bgc($bgColor, $bgUrl);
        h4, p {
          color: #fff !important;
        }
      }
    }
  }
  .hover-children-color:hover{
    & > *{
      color: $bgColor;
    }
  }
  .hover-color:hover{
      color: $bgColor;
  }
  .hover-background:hover{
      @include bgc($bgColor, $bgUrl);
  }

  .menu-content {
    li {
      a.active,a:hover{
        i{
          color: #fff;
          @include bgc($bgColor, $bgUrl);
        }
        p{
          color: #292b2c;
        }
      }
    }
  }

.loading1{
    border: 1px solid $bgColor;
  &:before{
    background-color: $bgColor;
  }
}
}

// TODO default
@import "global";
body {
  @include themes($bg-color, null);
}

body[theme=r1] {
  @include themes(#645b5c, "images/theme_bg_1.jpg");
  .menu-btn {
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.6), inset 2px 2px 0 rgba(255, 255, 255, 0.1);
  }
}

body[theme=t1] {
  @include themes(#ca0d86, "images/theme_bg_2.png");
}

body[theme=t2] {
  @include themes(#764394, "images/theme_bg_2.png");
}

body[theme=t3] {
  @include themes(#e1483f, "images/theme_bg_2.png");
}

body[theme=t4] {
  @include themes(#7de87d, "images/theme_bg_2.png");
}
